<h3>Заказы за год</h3>
<p></p>

<%#= render "#{@result[0].to_partial_path}_form" %>
<table border="1">
<tr bgcolor="lightgrey">
	<td> Дата </td>
	<td> № заказа </td>
</tr

<% @list.each do |row| %>

<tr>
	<td> <%= row["_Date_Time"].strftime("%Y.%m.%d") %> </td>
	<td> <%= row["_Number"] %> </td>
</tr

<% end %>
</table>