<div class="clients_content">
	<div class="container">
		<div class="row">
			<div class="title-pages text-center">
				<h3>С нами работают</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<h4>Наши партнеры</h4>
				<p>Компании и организации, которые помогают нам осуществлять качественный сервис для Вас</p>
				<ul class="company_help">
					<li><%= link_to "АО 'Техника'", "http://www.texnika.com.ua" %></li>
					<li><%= link_to "Группа компаний 'В.М.'", "http://www.vm.ua/"%></li>
					<li><%= link_to "Компания 1С", "http://1c.ua/"%></li>
				</ul>
			</div>
			
			<div class="col-xs-12 col-sm-6 col-md-6">
				<h4>Наши клиенты</h4>
				<strong>Бюджетные организации</strong>
				<p>Более 140 организаций Славянска и Славянского района сотрудничают с нами на протяжении многих лет.</p>

				<strong>Предприятия разных форм собственности</strong>
				<p>Более 1000 компаний пользуются нашей техподдержкой в своих офисах.</p>

				<strong>Частные лица</strong>
				<p>В базе данных предприятия числится свыше 10000 адресов.</p>

				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Подробнее</button>

				<!-- Modal -->
				<div id="myModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Наши клиенты</h4>
				      </div>
				      <div class="modal-body">
				        <ul class="modal_ul">
				        	<li>Славянская рекламно информационная "Газета объявлений"</li>
				        	<li>Газета в формате журнала "Экран Славянска"</li>
				        	<li>Агенство недвижимости "Акцент"</li>
				        	<li>"СЛАВКЕРАМОГНЕУПОР"</li>
				        	<li>Профидент</li>
				        	<li>"Господар"</li>
				        	<li>Центр "Колесо"</li>
				        	<li>"Монитор"</li>
				        	<li>"МТС" на САТУ</li>
				        	<li>АВК "Недвижимость"</li>
				        	<li>Автодор</li>
				        	<li>Автосалон "Еврокласс"</li>
				        	<li>Агенство недвижимости "Акцент"</li>
				        	<li>Андреевский поселковый совет</li>
				        	<li>Андреевский сельский совет</li>
				        	<li>АО "Индекс банк"</li>
				        	<li>Ателье "Славяночка"</li>
				        	<li>Аудиторская фирма "ТОР"</li>
				        	<li>Бар "ULTRA"</li>
				        	<li>Благотворительный фонд "Хесед Мориа"</li>
				        	<li>Больница №2</li>
				        	<li>БрокбизнессБанк</li>
				        	<li>Былбасовская аудитория</li>
				        	<li>Былбасовский поселковый совет</li>
				        	<li>Велес</li>
				        	<li>ВОЗ "РДА"</li>
				        	<li>ВКПП "Термо-златополь"</li>
				        	<li>Военкомат</li>
				        	<li>ГАИ</li>
				        	<li>гостиница "Украина"</li>
				        	<li>гостиница "Европа"</li>
				        	<li>ГП УкрНИИметаллургмаш</li>
				        	<li>ДЗ "ВЛ ст Словянск"</li>
				        	<li>ДизайнСтудияПлюс</li>
				        	<li>Диалог Либерти</li>
				        	<li>Дмитровская школа</li>
				        	<li>ДОЛ СТ "Солнечный"</li>
				        	<li>И многие другие...</li>

				        </ul>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>

				  </div>
				</div>


			</div>
		</div>
	</div>
</div>
