<div class="service">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<h4>Абонентское обслуживание</h4>
				<p><strong>КСП "Мегабайт"</strong> предлагает организациям и частным клиентам рассмотреть вариант абонентського обслуживания в Вашем офисе компьютеров, принтеров и копиров.
				</p>
				<p><strong>Компьютерная скорая помощь "Мегабайт"</strong> профессионально занимается абонентским обслуживанием компьютеров и компьютерных сетей.</p>
				<p><strong>Для Вас всегда бесплатно:</strong><br>
				- консультация специалистов по вопросу обслуживания компьютеров;<br>
				- расчёт стоимости обслуживания;<br>
				- выезд менеджера для заключения договора на обслуживание компьютеров.</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6">
				<h4>Обслуживание на выезд</h4>
				<p>	Основным сервисом для наших клиентов остается предоставление услуг на месте у клиента.
				При этом стоимость работ между ремонтом у клиента или в сервис центре не меняется.
				При невозможности выполнения ремонта на месте у клиента, техника доставляется в СЦ для выполнения ремонта,
				а по окончанию ремонта доставляется к клиенту.
				Выезд, доставка в СЦ и доставка до клиента <strong>бесплатно</strong>.</p>
			</div>
			</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<h4>Компьютерный сервис, который предлагает КСП "Мегабайт"</h4>
				<p>Это профессиональное абонентское обслуживание компьютеров, которое включает в себя, в первую очередь,
				бесперебойную работу вашего офиса и компьютеров.<br>
				- администрирование серверов, рабочих станций;<br>
				- установку и настройку программного обеспечения, в том числе специализированного;<br>
				- установку и настройку периферии (принтеров, сканеров и другого оборудования);<br>
				- обеспечения безопасности при работе в интернете;<br>
				- монтаж и настройку сетей;<br>
				- антивирусную профилактику и лечение вирусов;<br>
				- подбор необходимой информации;<br>
				- модернизацию и ремонт компьютеров;<br>
				- регулярное, профилактическое обслуживание компьютеров и оргтехники;<br>
				- монтаж и обслуживание АТС;<br>
				- консультации по работе с программным обеспечением;<br>
				- заправка и восстановление картриджей для принтеров и копиров;<br>
				- своевременная доставка расходных материалов для вашей техники;<br>
				<br>
				Абонентское обслуживание компьютеров может включать в себя как весь комплекс приведенных выше услуг, так и их часть.</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6">
				<h4>Преимущества абонентского обслуживания компьютеров</h4>
				<p>Компьютер - это не кухонный агрегат, а сложная техника, которая требует постоянного квалифицированного обслуживания. Заказав услугу абонентского обслуживания компьютеров, вы можете быть уверены в том, что Ваша техника будет находится под постоянным наблюдением специалистов. Мы не "болеем", не уходим в отпуск и не исчезаем бесследно, тем более вместе с критически важной для фирмы информацией.</p>
				<p>Предоставляя услугу абонентского обслуживания компьютеров, мы заботимся о безопасности наших заказчиков: договор компьютерного сервиса предоставляет пункты, гласящие о неразглашении коммерческой тайны, известной нашим сотрудникам в силу исполнения своих объязанностей по абонентскому обслуживанию компьютеров.</p>
			</div>
		</div>		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 text-center">
				<p>Для более детального ознакомления с услугой ознакомтесь с 
				<%= link_to "прайсом", pricelist_path %>
				или
				<%= link_to "позвоните нашему менеджеру", contacts_path %>.</p>
			</div>
		</div>
	</div>
</div>