<div class="container">
	<div class="row">
		<div class="title-pages text-center">
<<<<<<< HEAD
			<h3>Редагування контактної інформації</h3>
=======
			<h3>Редактирование контактной информации</h3>
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
		</div>
		<%= render 'contacts/form' %>
	</div>	
</div>
