 <div class='nested-fields'>
    <div class="price_form">
	    <div class="field">
	      <%= f.text_field :name, placeholder: "Послуга" %>
	    </div>
	    <div class="field">
	      <%= f.text_field :value, placeholder: "Ціна (грн., шт.)" %>
	    </div>
	    <%= link_to_remove_association "Видалити", f %>
    </div>
 </div>