<div class="container">
	<div class="row">
		<div class="title-pages text-center">
<<<<<<< HEAD
			<h3>Редагування групи прайс-листа</h3>
=======
			<h3>Редактирование группы прайс-листа</h3>
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
		</div>
		<%= render 'prices/form' %>
	</div>
</div>