<div class="container">
	<div class="row">
<<<<<<< HEAD
		<h1>Редагування</h1>
=======
		<h1>Редактирование</h1>
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333

		<%= render 'posts/form' %>
	</div>
	
</div>