<div class="container">
	<div class="row">
		<div class="text-center">
<<<<<<< HEAD
			<h3>Новий пост</h3>
=======
			<h3>Новый пост</h3>
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
		</div>
		<div class="blog-edit-form">				
			<%= render 'posts/form' %>
		</div>
	</div>
</div>