<!--Footer-->
<footer class="page-footer font-small">

    <!--Footer Links-->
    <div class="container-fluid text-center">  
        <p> © 2018 Copyright:
            <a href="https://mdbootstrap.com/material-design-for-bootstrap/"> VVDS-technologie.com </a>
        </p>
    </div>

</footer>
<!--/.Footer-->
                 