<!--Footer-->
<footer class="page-footer font-small">

    <!--Footer Links-->
    <div class="container-fluid text-center">  
        <p> © 2018 Copyright:
            <a href="https://ukrkosmetika.com.ua/"> VDVS-smart solutions </a>
        </p>
    </div>

</footer>
<!--/.Footer-->
                 